<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @application.course %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @application.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @application.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @application.phone %>
</p>

<p>
  <strong>Street:</strong>
  <%= @application.street %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @application.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @application.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @application.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @application.zip %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @application.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @application.gender %>
</p>

<p>
  <strong>Military status:</strong>
  <%= @application.military_status %>
</p>

<p>
  <strong>Education:</strong>
  <%= @application.education %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @application.experience %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @application.employment %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @application.salary %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
